@charset "utf-8";
/* 도깨비 메인 CSS - main.css */

html,body{
    margin: 0;
    padding: 0;
    /* 초기화! */
}
body{
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 배경 크기에 cover를 줄경우 이미지의 양쪽, 위아래를 적절히
    조정하여 대상 박스를 꽉채움! */
}

/* 스크롤바 트랙 디자인 변경 class */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #666;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}

/****************** 1.상단영역 *********************/
.top {
    min-height: 123px;
    /* 최소높이 123px보다 내용이 많아지면 늘어남! */
    background-color: #fff;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}


/****************** 2.컨텐츠영역 *********************/
/* 2-1. 캐릭터박스 */
#cbx{
    width: 90%;
    /* height: 300px; */
    margin: 0 auto;
    /* 블록요소 가로중앙정렬 - 마영오! */
    margin-top: 30%;


    outline: 10px dotted blue;
    /* outline: 두께 종류 색상;
    외곽선 - 다른요소에 영향없이 외곽선을 표시함
    박스모델의 필수 요소가 아니다!
    요소를 표시할때 사용함!(input요소에 많이 사용) */

    /* overflow: hidden; */
    /* float처리된 자식요소의 높이값 인식을 위함! */
}
/* 가상요소로 부모박스 clear:both만들기 */
#cbx::after{
    content: '';
    display: block;
    clear: both;
}

/* 캐릭터박스 공통 */
.cat{
    width: 25%;/* 4등분 */
    /* height: 100%; */

    padding: 10px;
    box-sizing: border-box;
    /* 패딩때문에 박스가 커지지 않게 패딩을 내부로 포함! */

    /* block박스는 옆에 다른요소가 못오므로
    float속성으로 옆으로 흘러가게 해준다! */
    float: left;
    /* 나는 왼쪽있고 아래쪽요소는 오른쪽으로 흘러가라! */

    /* outline: 5px dashed red; */

    /* 트랜지션: 속시이지 */
    transition: margin-top .6s ease-out;
}
/* 캐릭터박스에 오버시 마진탑 변경하기 */
.cat:hover {
    margin-top: -13%;
}

/* 캐릭터 이미지 */
.ci > img{ /* 직계자식(>)이미지만 선택! */
    width: 100%;
    /* 이미지의 height는 자동(비율유지) */
}

/* 캐릭터 이름 */
.ci span{
    display: block;
    /* 블록으로 변경! */
    text-align: center;
    /* 내용 인라인요소 가로중앙 */
    margin-top: -21%;
    /* 비율로 이미지가 변경되므로
    마진도 상대작으로 변경되게함! */
}
/* 캐릭터 이름 이미지 */
.ci span img {
    width: 40%;
}
/* 캐릭터 이름 첫번째 이미지 숨기기 */
.ci span img:first-child {
    display: none;
}
/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child{
    display: inline;
}
/* 캐릭터 이름 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}

/* 캐릭터 설명박스 */
.cd {
    height: 0px;
    /* .cat에 오버시 250px로 변경! */
    overflow-y: scroll;
    /* y축 스크롤만 생겨서 넘치는 자식요소 보이기 */
    background: url(../images/eachBG.jpg) no-repeat center/cover;
    border-radius: 20px 0 0 20px;
    /* 둥근모서리: 왼위 오른위 오른아래 왼아래 (시계방향) */
    margin-top: 15px;

    /* 트랜지션: 속시이지 */
    transition: height .6s ease-out;
}
/* .cat에 오버시 설명박스 */
.cat:hover .cd {
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    padding: 5px 10px 0px;
    /* 패딩: 위 양쪽 아래 */
}
/* 캐릭터 설명 문단 */
.cd p {
    padding: 10px;
    /* 패딩: 4방향 */
    text-align: justify;
    /* 양쪽정렬 */
}


/****************** 3.하단영역 *********************/

