@charset "utf-8";
/* 한국최신드라마 리스트 CSS - main.css */

html,body{/* 콤마(,)는 그룹선택자 */
    margin: 0;
    padding: 0;
}

/* 테이블 공통 */
.tbl{
    font-family: "궁서체", "굴림";
    /* 글씨체 - 순서대로 있는 글씨체를 적용함! */
    color: #222;
    /* 글자색 */
    border-collapse: collapse;
    /* 기본값이 seperate이고 테이블 td의 사이 간극이 존재함!
    이것을 없애는 설정값이 collapse! */
}

/* 드라마 리스트 테이블 */
#drama{
    font-size: 24px;
    /* 글자크기 - 기본값은 16px (단위: px,em,rem,%) */
    margin: 0 auto;
    /* 
        마영오! - 박스요소 가로중앙정렬 
        -> 블록요소도 가로중앙정렬시 마영오!
        테이블요소도 block과 유사한 특성이 있음
        옆에 아무것도 못옴!

        [ 블록요소와 테이블요소의 차이점은? ]
        블록은 width를 안주면 width:auto 로써 
        부모요소를 끝까지 차지함
        >>> 테이블은 내용만큼만 늘어남
        테이블의 특징 중 하나는 부모요소의 가로크기가
        자기가 만든 자동크기보다 작아지면 같이 작아짐!
    */
    width: 1000px;
    /* 여기서는 가로크기설정함! */
}

