@charset "utf-8";
/* 보그 PJ 메인 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 아웃라인 표시 */
body * {
    outline: 1px dotted #aaa;
}

/* 레이아웃 공통 class */

/* 속박스 */
.ibx {
    max-width: 1300px;
    /* 최대1300px유지, 작아지면 auto */
    margin: 0 auto;
    /* 가로중앙정렬 */
}

/* 비율유지박스 */
.rbx{
    position: relative;
    /* 부모자격 - .rbxIn */
    /* height값 설정이 없어야함! */
}
/* 비율유지박스 가상요소 비율밀기셋팅 */
.rbx::before {
    content: '';
    display: block;
    /* padding-top: 50%; */
    /* 부모박스의 가로에 대한 %비율
    -> 파트별 개별적으로 비율을 따로 줘야함! */
}
/* 파트1비율 */
.pt1.rbx::before {
    padding-top: 55.69%;
}
/* 파트1비율계산
    1300 : 724 = 100 : x
    x = 724 * 100 / 1300 
    x = 55.69%
*/

/* 파트2비율 */
.pt2.rbx::before {
    padding-top: 50%;
}
/* 파트2비율계산
    1300 : 650 = 100 : x
    x = 650 * 100 / 1300 
    x = 50%
*/

/* 비율유지속박스 - 가상요소 패딩탑으로 밀리므로 */
.rbxIn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/******************* 1. 상단영역 *******************/
.top{
    height: 206px;
}
/******************* 2. 메인영역 *******************/
.cont{
    /* height: 300px; */
}
/* 메인파트1 */
.pt1{
    /* height: 724px; */
}
/* 메인파트2 */
.pt2{
    /* height: 650px; */
}
/******************* 3. 하단영역 *******************/
.info{
    height: 285px;
}

