@charset "utf-8";
/* 보그 PJ 메인 CSS - main.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);

/* 아웃라인 표시 */
body * {
    outline: 1px dotted #aaa;
}

/* 레이아웃 공통 class */

/* 속박스 */
.ibx {
    max-width: 1300px;
    /* 최대1300px유지, 작아지면 auto */
    margin: 0 auto;
    /* 가로중앙정렬 */
}

/* 비율유지박스 */
.rbx{
    position: relative;
    /* 부모자격 - .rbxIn */
    /* height값 설정이 없어야함! */
}
/* 비율유지박스 가상요소 비율밀기셋팅 */
.rbx::before {
    content: '';
    display: block;
    /* padding-top: 50%; */
    /* 부모박스의 가로에 대한 %비율
    -> 파트별 개별적으로 비율을 따로 줘야함! */
}
/* 파트1비율 */
.pt1.rbx::before {
    padding-top: 55.69%;
}
/* 파트1비율계산
    1300 : 724 = 100 : x
    x = 724 * 100 / 1300 
    x = 55.69%
*/

/* 파트2비율 */
.pt2.rbx::before {
    padding-top: 50%;
}
/* 파트2비율계산
    1300 : 650 = 100 : x
    x = 650 * 100 / 1300 
    x = 50%
*/

/* 비율유지속박스 - 가상요소 패딩탑으로 밀리므로 */
.rbxIn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 컨텐츠 박스 - 실제 내용이 들어가는 박스 */
.cbx {
    height: 100%;
    /* 내부박스 높이채우기 */
}

/* 3개로 구성되는 컨텐츠박스 */
/* flex적용하기! */
.fbx{
    display: flex;
}
.fbx>.cbx {
    flex: 1;
    /* 등분할설정! */
}

/* 공통 배경설정 */
.bgi{
    background-repeat: no-repeat;
    background-size: cover;
}

/* 개별배경이미지 */

/* 컨텐츠1 - 1개 */
.bg1{
    background-image: url(../images/cont1a.jpg);
}
/* 컨텐츠2 - 3개 */
.bg2{
    background-image: url(../images/cont2-1.jpg);
}
.bg3{
    background-image: url(../images/cont2-2.jpeg);
}
.bg4{
    background-image: url(../images/cont2-3.jpg);
}
/* 컨텐츠3 - 1개 */
.bg5{
    background-image: url(../images/cont3a.jpg);
}
/* 컨텐츠4 - 3개 */
.bg6{
    background-image: url(../images/cont4-1.jpg);
}
.bg7{
    background-image: url(../images/cont4-2.jpg);
}
.bg8{
    background-image: url(../images/cont4-3.jpg);
}
/* 컨텐츠5 - 1개 */
.bg9{
    background-image: url(../images/cont5a.jpg);
}
/* 컨텐츠6 - 3개 */
.bg10{
    background-image: url(../images/cont6-1.png);
}
.bg11{
    background-image: url(../images/cont6-2.jpg);
}
.bg12{
    background-image: url(../images/cont6-3.png);
}
/* 컨텐츠7 - 3개 */
.bg13{
    background-image: url(../images/cont7-1.jpg);
}
.bg14{
    background-image: url(../images/cont7-2.jpg);
}
.bg15{
    background-image: url(../images/cont7-3.jpg);
}


/******************* 1. 상단영역 *******************/
.top{
    height: 206px;
}
/******************* 2. 메인영역 *******************/
.cont{
    /* height: 300px; */
}
/* 메인파트1 */
.pt1{
    /* height: 724px; */
}
/* 메인파트2 */
.pt2{
    /* height: 650px; */
}
/******************* 3. 하단영역 *******************/
.info{
    height: 285px;
}

