@charset "utf-8";
/* 보그 PJ 서브 CSS - sub.css */

/* 외부CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 1-1. 서브 타이틀 */
.stit{
    font-family: 'Pistilli', sans-serif;
    font-size: 50px;
    padding: 40px 0 20px;
    /* 패딩: 위 양쪽 아래 */
    text-align: center;
    font-weight: normal;
    /* 두꺼운 글자해제 */
}

/* 1-2. 서브 메뉴(LNB) */
.lnb{
    padding: 5px 0 50px;
}
.lnb ul{
    display: flex;
    flex-wrap: wrap;
    /* 플렉스 줄바꿈 */
    justify-content: center;
}
.lnb li{
    margin: 0 10px;
    /* 양쪽마진 10px */
}
.lnb a{
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 18px;
    color: #333;
    /* 트랜지션: 속시이지 */
    transition: color .5s;
}
/* 첫번째 메뉴 빨간색 */
.lnb li:first-child a,
.lnb a:hover {
    color: red;
}

/* 2. 컨텐츠 영역 */

/* 서브 페이지 배경이미지 */

/* fashion */
.bg1-1{
    background-image: url(../images/fashion/cont1-1a.jpg);
}
.bg1-2{
    background-image: url(../images/fashion/cont1-2a.jpg);
}
.bg1-3{
    background-image: url(../images/fashion/cont1-3a.jpg);
}
.bg2-1{
    background-image: url(../images/fashion/cont2-1a.jpg);
}
.bg2-2{
    background-image: url(../images/fashion/cont2-2a.jpg);
}
.bg2-3{
    background-image: url(../images/fashion/cont2-3a.jpg);
}
