@charset "utf-8";
/* 외부 CSS파일 상단엔 반드시 문자셋을 해야함! */

.wrap {
    width: 727px;
    margin: 0 auto;
    /* 블록박스 가로중앙! */
}

/* 텍스트 중앙 class */
.tac {
    text-align: center;
}

/* 배경색 class */
.bgc{
    background-color: #e9e9e9;
    padding: 10px 0;
    /* 안쪽여백: 위아래 양쪽 */
}

/* 큰제목 */
h1#mtit{
    color: #0c9400;
    text-shadow: 2px 2px 2px #888;
}

/* 메인 공통 p요소 */
main p{
    line-height: 1.7;
}


/* 1. 타입선택자(요소명) */
address {
    font-style: normal;
    /* 글자스타일 */
    color: green;
    /* 글자색 */
    font-size: 14px;
    /* 글자크기 */
    line-height: 20px;
    /* 줄간격 */
}

/* 2. 자손선택자(띄어쓰기) */
header a {
    color: #ff0b7d;
    /* 글자색 */
    text-decoration: none;
    /* 밑줄없앰 */
}

/* 3. 직계자식선택자(>) */
main>a {
    color: yellow;
    /* 글자색 */
    text-decoration: none;
    /* 밑줄없앰 */
    font-size: 20px;
    /* 글자크기 */
    text-shadow: 1px 1px 1px #000;
    /* 글자그림자: x y blur 색 */
}

/* 4. 아이디 선택자(#) */
#logo {
    vertical-align: -4px;
    /* 인라인요소간 세로정렬 */
    margin-right: 3px;
    /* 오른쪽마진 */
}

/* 5. 클래스 선택자(.) */
.tit {
    font-family: "궁서체";
    /* 글씨체 */
    letter-spacing: -3px;
    /* 자간 */
    word-spacing: -2px;
    /* 단어사이 */
    white-space: nowrap;
    /* 줄바꿈 금지 */
}